In [4]:
%%sql
CREATE DATABASE IF NOT EXISTS SPOTIFY;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[]

In [5]:
%%sql
USE SPOTIFY;

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [6]:
%%sql
CREATE TABLE IF NOT EXISTS artists (
    artist_id VARCHAR(50) PRIMARY KEY,
    artist_name VARCHAR(255) NOT NULL,
    popularity BIGINT,
    followers INT,
    genres VARCHAR(50)
);

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [7]:
%%sql
CREATE TABLE IF NOT EXISTS albums (
    album_id VARCHAR(50) PRIMARY KEY,
    album_name VARCHAR(255) NOT NULL,
    artist_id VARCHAR(50),
    release_date DATE,
    total_tracks INT,
    album_type VARCHAR(50),
    FOREIGN KEY (artist_id) REFERENCES artists(artist_id) ON DELETE CASCADE
);

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [8]:
%%sql
CREATE TABLE IF NOT EXISTS tracks (
    track_id VARCHAR(50) PRIMARY KEY,
    track_name VARCHAR(255) NOT NULL,
    artist_id VARCHAR(50),
    album_id VARCHAR(50),
    duration_sec DOUBLE,
    popularity INT,
    FOREIGN KEY (artist_id) REFERENCES artists(artist_id) ON DELETE CASCADE,
    FOREIGN KEY (album_id) REFERENCES albums(album_id) ON DELETE CASCADE
);

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [15]:
%%sql
SELECT * FROM artists;

 * mysql+mysqlconnector://root:***@localhost/test
7 rows affected.

[('29aw5YCdIw2FEXYyAJZI8l', 'Harris Jayaraj', 76, 10822065, 'tamil pop, kollywood, tamil dance'),
 ('3eVa5w3URK5duf6eyVDbu9', 'ROSÉ', 81, 13864437, 'k-pop'),
 ('4AK6F7OLvEQ5QYCBNiQWHq', 'One Direction', 85, 40538813, ''),
 ('64KEffDW9EtZ1y2vBYgq8T', 'Marshmello', 82, 34606097, 'edm'),
 ('69GGBxA162lTqCwzJG5jLp', 'The Chainsmokers', 82, 21511525, ''),
 ('6VuMaDnrHyPL1p4EHjYLi7', 'Charlie Puth', 82, 25640098, 'soft pop, pop'),
 ('7z5WFjZAIYejWy0NI5lv4T', 'Dan + Shay', 73, 3215694, 'country')]

In [16]:
%%sql
SELECT * FROM albums;

 * mysql+mysqlconnector://root:***@localhost/test
10 rows affected.

[('0mZIUXje90JtHxPNzWsJNR', 'Voicenotes', '6VuMaDnrHyPL1p4EHjYLi7', datetime.date(2018, 5, 11), 13, 'album'),
 ('2IYQwwgxgOIn7t3iF6ufFD', 'APT.', '3eVa5w3URK5duf6eyVDbu9', datetime.date(2024, 10, 18), 1, 'single'),
 ('2u4Yp2ADTKYPwFSBFL4ffa', 'Happier', '64KEffDW9EtZ1y2vBYgq8T', datetime.date(2018, 8, 17), 1, 'single'),
 ('4gCNyS7pidfK3rKWhB3JOY', 'FOUR (Deluxe)', '4AK6F7OLvEQ5QYCBNiQWHq', datetime.date(2014, 11, 17), 16, 'album'),
 ('4JPguzRps3kuWDD5GS6oXr', 'Memories...Do Not Open', '69GGBxA162lTqCwzJG5jLp', datetime.date(2017, 4, 7), 12, 'album'),
 ('4z2eVLzV0UxLc2O4VZMIjV', 'Glad You Exist', '7z5WFjZAIYejWy0NI5lv4T', datetime.date(2021, 2, 5), 1, 'single'),
 ('5J4SS8wTmXdyIEVYjmHzpZ', 'Nine Track Mind (Special Edition)', '6VuMaDnrHyPL1p4EHjYLi7', datetime.date(2015, 11, 5), 20, 'album'),
 ('5Jk4Eg7pxYhDrWJCVVzmMt', 'CHARLIE', '6VuMaDnrHyPL1p4EHjYLi7', datetime.date(2022, 10, 6), 12, 'album'),
 ('66JuK41D3LpkbX3HCTGcQk', 'Leave Before You Love Me', '64KEffDW9EtZ1y2vBYgq8T', datetime.date(2021, 5, 21), 1, 'single'),
 ('69MQlshE2Cveetu5T2b2JT', 'Oru Manam (From "Dhruva Natchathiram")', '29aw5YCdIw2FEXYyAJZI8l', datetime.date(2020, 10, 9), 1, 'single')]

In [17]:
%%sql
SELECT * FROM tracks;

 * mysql+mysqlconnector://root:***@localhost/test
10 rows affected.

[('472vIK1ldetTxRxG3ovaiY', 'Glad You Exist', '7z5WFjZAIYejWy0NI5lv4T', '4z2eVLzV0UxLc2O4VZMIjV', 2.4088833333333333, 52),
 ('4qu63nuBpdn0qHUHuObEj1', 'Leave Before You Love Me (with Jonas Brothers)', '64KEffDW9EtZ1y2vBYgq8T', '66JuK41D3LpkbX3HCTGcQk', 2.58305, 80),
 ('54PbBpquVfhfrwRwvjSXbI', "We Don't Talk Anymore (feat. Selena Gomez)", '6VuMaDnrHyPL1p4EHjYLi7', '5J4SS8wTmXdyIEVYjmHzpZ', 3.628433333333333, 82),
 ('55mEN7iiqTNzWfYjF8QbQn', 'Oru Manam (From "Dhruva Natchathiram")', '29aw5YCdIw2FEXYyAJZI8l', '69MQlshE2Cveetu5T2b2JT', 5.6709, 54),
 ('5cF0dROlMOK5uNZtivgu50', 'Attention', '6VuMaDnrHyPL1p4EHjYLi7', '0mZIUXje90JtHxPNzWsJNR', 3.4797666666666665, 87),
 ('5O2P9iiztwhomNh8xkR9lJ', 'Night Changes', '4AK6F7OLvEQ5QYCBNiQWHq', '4gCNyS7pidfK3rKWhB3JOY', 3.7766166666666665, 86),
 ('5Odq8ohlgIbQKMZivbWkEo', 'Left and Right (Feat. Jung Kook of BTS)', '6VuMaDnrHyPL1p4EHjYLi7', '5Jk4Eg7pxYhDrWJCVVzmMt', 2.5747666666666666, 72),
 ('5vNRhkKd0yEAg8suGBpjeY', 'APT.', '3eVa5w3URK5duf6eyVDbu9', '2IYQwwgxgOIn7t3iF6ufFD', 2.83195, 87),
 ('6RUKPb4LETWmmr3iAEQktW', 'Something Just Like This', '69GGBxA162lTqCwzJG5jLp', '4JPguzRps3kuWDD5GS6oXr', 4.1193333333333335, 86),
 ('7BqHUALzNBTanL6OvsqmC1', 'Happier', '64KEffDW9EtZ1y2vBYgq8T', '2u4Yp2ADTKYPwFSBFL4ffa', 3.571483333333333, 81)]