In [ ]:
pip install spotipy

In [ ]:
pip install pandas

In [ ]:
pip install mysql-connector-python

In [ ]:
pip install mysql-connector-python sqlalchemy

In [8]:
import mysql.connector
import re
from spotipy.oauth2 import SpotifyClientCredentials
import spotipy

In [9]:
# Set up Spotify API.
sp = spotipy.Spotify(auth_manager=SpotifyClientCredentials(
    client_id= 'YOUR_CLIENT_ID' ,
    client_secret=  'YOUR_CLIENT_SECRET'
))

In [10]:
# MySQL DataBase Connection.
db_config = {
    'host':'localhost',
    'user':'root',
    'password':'root',
    'database':'SPOTIFY'
}

In [11]:
# Connect to the Database.
connection = mysql.connector.connect(**db_config)
cursor = connection.cursor()

In [12]:
# Read Track URL from file.
file_path = 'My_Tracks.txt'
with open(file_path, 'r') as file:
    my_track_url = file.readlines()

In [13]:
# Process each URL
for track_url in my_track_url:
    track_url = track_url.strip()

    try:
        # Extract Track ID
        match = re.search(r"track/([a-zA-Z0-9]+)", track_url)
        if not match:
            print(f"Invalid URL: {track_url}")
            continue

        track_id = match.group(1)

        # Fetch track data
        track = sp.track(track_id)

        # -------- Artist Data --------
        artist = track["artists"][0]
        artist_id = artist["id"]
        artist_info = sp.artist(artist_id)

        cursor.execute("""
            INSERT IGNORE INTO artists (artist_id, artist_name, popularity, followers, genres)
            VALUES (%s, %s, %s, %s, %s)
        """, (
            artist_id,
            artist_info["name"],
            artist_info["popularity"],
            artist_info["followers"]["total"],
            ", ".join(artist_info["genres"])
        ))

        # -------- Album Data --------
        album = track["album"]
        album_id = album["id"]

        cursor.execute("""
            INSERT IGNORE INTO albums (album_id, album_name, artist_id, release_date, total_tracks, album_type)
            VALUES (%s, %s, %s, %s, %s, %s)
        """, (
            album_id,
            album["name"],
            artist_id,
            album["release_date"],
            album["total_tracks"],
            album["album_type"]
        ))

        # -------- Track Data --------
        cursor.execute("""
            INSERT IGNORE INTO tracks (
                track_id, track_name, artist_id, album_id,
                duration_sec, popularity
            )
            VALUES (%s, %s, %s, %s, %s, %s)
        """, (
            track["id"],
            track["name"],
            artist_id,
            album_id,
            track["duration_ms"] / 60000,
            track["popularity"]
        ))

        connection.commit()
        print(f"Inserted: {track['name']}")

    except Exception as e:
        print(f"Error processing URL: {track_url}")
        print(e)

# Close DB connection
cursor.close()
connection.close()

print("All tracks have been processed and inserted successfully.")

Inserted: Oru Manam (From "Dhruva Natchathiram")
Inserted: APT.
Inserted: Happier
Inserted: Left and Right (Feat. Jung Kook of BTS)
Inserted: Glad You Exist
Inserted: Attention
Inserted: Something Just Like This
Inserted: Leave Before You Love Me (with Jonas Brothers)
Inserted: Night Changes
Inserted: We Don't Talk Anymore (feat. Selena Gomez)
All tracks have been processed and inserted successfully.

In [14]:
import pandas as pd
from sqlalchemy import create_engine

# Create engine
engine = create_engine(
    "mysql+mysqlconnector://root:root@localhost/SPOTIFY"
)

In [15]:
# Query
query_artists = "SELECT * FROM artists"

# Read data
df_artists = pd.read_sql(query_artists, engine)
df_artists.to_csv("artists.csv", index=False)
df_artists

,artist_id,artist_name,popularity,followers,genres
0,29aw5YCdIw2FEXYyAJZI8l,Harris Jayaraj,76,10822065,"tamil pop, kollywood, tamil dance"
1,3eVa5w3URK5duf6eyVDbu9,ROSÉ,81,13864437,k-pop
2,4AK6F7OLvEQ5QYCBNiQWHq,One Direction,85,40538813,
3,64KEffDW9EtZ1y2vBYgq8T,Marshmello,82,34606097,edm
4,69GGBxA162lTqCwzJG5jLp,The Chainsmokers,82,21511525,
5,6VuMaDnrHyPL1p4EHjYLi7,Charlie Puth,82,25640098,"soft pop, pop"
6,7z5WFjZAIYejWy0NI5lv4T,Dan + Shay,73,3215694,country

In [16]:
# Query
query_albums = "SELECT * FROM albums"

# Read data
df_albums = pd.read_sql(query_albums, engine)
df_albums.to_csv("albums.csv", index=False)

df_albums

,album_id,album_name,artist_id,release_date,total_tracks,album_type
0,0mZIUXje90JtHxPNzWsJNR,Voicenotes,6VuMaDnrHyPL1p4EHjYLi7,2018-05-11,13,album
1,2IYQwwgxgOIn7t3iF6ufFD,APT.,3eVa5w3URK5duf6eyVDbu9,2024-10-18,1,single
2,2u4Yp2ADTKYPwFSBFL4ffa,Happier,64KEffDW9EtZ1y2vBYgq8T,2018-08-17,1,single
3,4gCNyS7pidfK3rKWhB3JOY,FOUR (Deluxe),4AK6F7OLvEQ5QYCBNiQWHq,2014-11-17,16,album
4,4JPguzRps3kuWDD5GS6oXr,Memories...Do Not Open,69GGBxA162lTqCwzJG5jLp,2017-04-07,12,album
5,4z2eVLzV0UxLc2O4VZMIjV,Glad You Exist,7z5WFjZAIYejWy0NI5lv4T,2021-02-05,1,single
6,5J4SS8wTmXdyIEVYjmHzpZ,Nine Track Mind (Special Edition),6VuMaDnrHyPL1p4EHjYLi7,2015-11-05,20,album
7,5Jk4Eg7pxYhDrWJCVVzmMt,CHARLIE,6VuMaDnrHyPL1p4EHjYLi7,2022-10-06,12,album
8,66JuK41D3LpkbX3HCTGcQk,Leave Before You Love Me,64KEffDW9EtZ1y2vBYgq8T,2021-05-21,1,single
9,69MQlshE2Cveetu5T2b2JT,"Oru Manam (From ""Dhruva Natchathiram"")",29aw5YCdIw2FEXYyAJZI8l,2020-10-09,1,single

In [19]:
# Query
query_tracks = "SELECT * FROM tracks"

# Read data
df_tracks = pd.read_sql(query_tracks, engine)
df_tracks.to_csv("tracks.csv", index=False)
df_tracks

,track_id,track_name,artist_id,album_id,duration_sec,popularity
0,472vIK1ldetTxRxG3ovaiY,Glad You Exist,7z5WFjZAIYejWy0NI5lv4T,4z2eVLzV0UxLc2O4VZMIjV,2.408883,52
1,4qu63nuBpdn0qHUHuObEj1,Leave Before You Love Me (with Jonas Brothers),64KEffDW9EtZ1y2vBYgq8T,66JuK41D3LpkbX3HCTGcQk,2.583050,80
2,54PbBpquVfhfrwRwvjSXbI,We Don't Talk Anymore (feat. Selena Gomez),6VuMaDnrHyPL1p4EHjYLi7,5J4SS8wTmXdyIEVYjmHzpZ,3.628433,82
3,55mEN7iiqTNzWfYjF8QbQn,"Oru Manam (From ""Dhruva Natchathiram"")",29aw5YCdIw2FEXYyAJZI8l,69MQlshE2Cveetu5T2b2JT,5.670900,54
4,5cF0dROlMOK5uNZtivgu50,Attention,6VuMaDnrHyPL1p4EHjYLi7,0mZIUXje90JtHxPNzWsJNR,3.479767,87
5,5O2P9iiztwhomNh8xkR9lJ,Night Changes,4AK6F7OLvEQ5QYCBNiQWHq,4gCNyS7pidfK3rKWhB3JOY,3.776617,86
6,5Odq8ohlgIbQKMZivbWkEo,Left and Right (Feat. Jung Kook of BTS),6VuMaDnrHyPL1p4EHjYLi7,5Jk4Eg7pxYhDrWJCVVzmMt,2.574767,72
7,5vNRhkKd0yEAg8suGBpjeY,APT.,3eVa5w3URK5duf6eyVDbu9,2IYQwwgxgOIn7t3iF6ufFD,2.831950,87
8,6RUKPb4LETWmmr3iAEQktW,Something Just Like This,69GGBxA162lTqCwzJG5jLp,4JPguzRps3kuWDD5GS6oXr,4.119333,86
9,7BqHUALzNBTanL6OvsqmC1,Happier,64KEffDW9EtZ1y2vBYgq8T,2u4Yp2ADTKYPwFSBFL4ffa,3.571483,81

## 1. Artist-Level Analytics (df_artists)

### Top Artists by Popularity

In [20]:
df_artists[['artist_name','popularity']] \
    .sort_values(by='popularity', ascending=False)

        artist_name  popularity
2     One Direction          85
4  The Chainsmokers          82
3        Marshmello          82
5      Charlie Puth          82
1              ROSÉ          81
0    Harris Jayaraj          76
6        Dan + Shay          73

### Top Artists by Followers

In [21]:
df_artists[['artist_name','followers']] \
    .sort_values(by='followers', ascending=False)

        artist_name  followers
2     One Direction   40538813
3        Marshmello   34606097
5      Charlie Puth   25640098
4  The Chainsmokers   21511525
1              ROSÉ   13864437
0    Harris Jayaraj   10822065
6        Dan + Shay    3215694

### Genre Distribution

In [22]:
df_artists['genres'] \
    .str.split(', ') \
    .explode() \
    .value_counts()

genres
               2
tamil pop      1
kollywood      1
tamil dance    1
k-pop          1
edm            1
soft pop       1
pop            1
country        1
Name: count, dtype: int64

## 2. Album-Level Analytics (df_albums)

### Album Type Distribution

In [23]:
df_albums['album_type'].value_counts()

album_type
album     5
single    5
Name: count, dtype: int64

### Albums Released Per Year

In [24]:
df_albums['release_year'] = pd.to_datetime(df_albums['release_date']).dt.year
df_albums['release_year'].value_counts().sort_index()

release_year
2014    1
2015    1
2017    1
2018    2
2020    1
2021    2
2022    1
2024    1
Name: count, dtype: int64

### Albums per Artist

In [25]:
df_albums.merge(df_artists, on='artist_id').groupby('artist_name') \
    .size().sort_values(ascending=False)

artist_name
Charlie Puth        3
Marshmello          2
Dan + Shay          1
Harris Jayaraj      1
One Direction       1
ROSÉ                1
The Chainsmokers    1
dtype: int64

## 3. Track-Level Analytics (df_tracks)

### Top Tracks by Popularity

In [26]:
df_tracks[['track_name','popularity']] \
    .sort_values(by='popularity', ascending=False)

                                       track_name  popularity
7                                            APT.          87
4                                       Attention          87
8                        Something Just Like This          86
5                                   Night Changes          86
2      We Don't Talk Anymore (feat. Selena Gomez)          82
9                                         Happier          81
1  Leave Before You Love Me (with Jonas Brothers)          80
6         Left and Right (Feat. Jung Kook of BTS)          72
3          Oru Manam (From "Dhruva Natchathiram")          54
0                                  Glad You Exist          52

### Average Track Duration

In [27]:
df_tracks['duration_sec'].mean()

np.float64(3.4645183333333334)

## 4. Cross-Table Analytics

### Merge All Data

In [28]:
df_full = (
    df_tracks
    .merge(df_artists, on='artist_id')
    .merge(df_albums, on='album_id')
)

### Most Popular Artist (Avg Track Popularity)

In [29]:
df_full.groupby('artist_name')['popularity_x'].mean().sort_values(ascending=False)

artist_name
ROSÉ                87.000000
One Direction       86.000000
The Chainsmokers    86.000000
Marshmello          80.500000
Charlie Puth        80.333333
Harris Jayaraj      54.000000
Dan + Shay          52.000000
Name: popularity_x, dtype: float64

### Album Performance (Avg Track Popularity)

In [32]:
df_full.groupby('album_name')['popularity_x'].mean().sort_values(ascending=False)

album_name
APT.                                      87.0
Voicenotes                                87.0
Memories...Do Not Open                    86.0
FOUR (Deluxe)                             86.0
Nine Track Mind (Special Edition)         82.0
Happier                                   81.0
Leave Before You Love Me                  80.0
CHARLIE                                   72.0
Oru Manam (From "Dhruva Natchathiram")    54.0
Glad You Exist                            52.0
Name: popularity_x, dtype: float64

### Genre vs Track Popularity

In [33]:
df_full['genre'] = df_full['genres'].str.split(', ')
df_full.explode('genre').groupby('genre')['popularity_x'].mean().sort_values(ascending=False)

genre
k-pop          87.000000
               86.000000
edm            80.500000
soft pop       80.333333
pop            80.333333
tamil dance    54.000000
kollywood      54.000000
tamil pop      54.000000
country        52.000000
Name: popularity_x, dtype: float64

## 5. Business Insights

### Do Followers Impact Track Popularity?

In [34]:
df_full[['followers','popularity_x']].corr()

              followers  popularity_x
followers      1.000000      0.673038
popularity_x   0.673038      1.000000

### Singles vs Albums Performance

In [35]:
df_full.groupby('album_type')['popularity_x'].mean()

album_type
album     82.6
single    70.8
Name: popularity_x, dtype: float64